{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('addEjercicio') }}
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('addEjercicio') }}
{% endblock %}
{% block title %}
	AddEjRutina
{% endblock %}
{% block body %}
	<nav class="navbar navbar-expand-lg" style="padding:10px;font-size:20px;border:solid 1px grey;border-right:0px;border-top:0px;border-left:0px;background-color:#ced3ff">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_gym',{userName:userName}) }}" style="color:black">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:black">Rutina actual</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:black">Visualizar Rutinas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('logout') }}" style="color:black">Cerrar sesión</a>
					</li>
					<li class="nav-item">
						<div class=" pt-2">
							<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px" hidden>⚙️</button>
							<select onchange="window.location.href=this.value;" class="opciones" style="border:solid 1px black;" hidden>
								<option>Seleccione...</option>
								<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Actualizar usuarios</option>
								<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Borrar usuarios</option>
								<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nuevo ejercicio</option>
								<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nueva máquina</option>
							</select>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="mt-5 ms-5 card" style="margin-top:8%;">
		<section class="row">
			<div class="col-6 text-center">
				<img src="/img/{{ejercicio.maquina.imagen}}" class="col-8" style="margin-top:6%;border-radius:5px;">
			</div>
			<div class="col-6 text-center">
				<h5 style="color:black;margin-top:10px;margin-bottom:5%;text-align:left;">{{ejercicio.nombreEjercicio}}</h1>
				<div class="container">
					{{ form_start(form, {'attr': {'class': 'formAdd'}}) }}
					<div>
						{{ form_widget(form.peso, {'attr': {'placeholder': 'Peso(kg)'}}) }}
						<span style="font-weight:bold">{{ultimoPeso}}</span>
						<span>
							(Última sesión)</span>
					</div>
					<div>
						{{ form_widget(form.series, {'attr': {'placeholder': 'Series'}}) }}
						<span style="font-weight:bold">{{ultimasSeries}}</span>
						<span>
							(Última sesión)</span>
					</div>
					<div>
						{{ form_widget(form.repSerie, {'attr': {'placeholder': 'Repeticiones por serie'}}) }}
						<span style="font-weight:bold">{{ultimasRepes}}</span>
						<span>
							(Última sesión)</span>
					</div>
					{{ form_end(form) }}
				</div>
			</section>
		</div>

		<div class="footer" style="position:fixed;bottom:0;width:100%;margin-top:20px;">
			<div class="row">
				<div class="row pt-2 pb-2 justify-content-center">
					<div class="col-3 text-center">
						<a href=""><img src="/img/instagram.png" class="col-3" style="max-width:50px"></a>
					</div>
					<div class="col-3 text-center"></div>
					<div class="col-3 text-center">
						<a href="https://x.com/gymWorkoutSpain"><img src="/img/twitter.png" class="col-3" style="max-width:50px"></a>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
