{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('addEjercicio') }}
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block title %}
	AddEjRutina
{% endblock %}
{% block body %}
	<nav class="nav">
		<a class="nav-link active" aria-current="page" href="{{ path('app_gym',{userName:userName}) }}" style="color:yellow">Home</a>
		<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:yellow">Rutina actual</a>
		<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:yellow">Visualizar Rutinas</a>
		<a class="nav-link" href="{{ path('logout') }}" style="color:yellow">Cerrar sesión</a>
		<div class=" pt-2">
			<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px">⚙️</button>
			<select onchange="window.location.href=this.value;" hidden class="opciones" style="border:0px">
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Añadir nuevo administrador</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Borrar usuarios</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Actualizar usuarios</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}" >Añadir nuevo ejercicio</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}" >Añadir nueva máquina</option>
			</select>
		</div>
	</nav>
	{{ejercicio.maquina.imagen}}
	{{ejercicio.nombreEjercicio}}
	<div class="container">
		{{form_start(form)}}
		<div>
			{{ form_label(form.peso, 'Introduce el peso',{'label_attr':{'style': 'color: black ;font-style:italic'}})
									}}

			{{ form_widget(form.peso)}}
		</div>
		<div>
			{{ form_label(form.series, 'Introduce número de series',{'label_attr':{'style': 'color: black ;font-style:italic'}}) }}


			{{ form_widget(form.series)}}
		</div>
		<div>
			{{ form_label(form.repSerie, 'Introduzca número de repeticiones por serie',{'label_attr':{'style': 'color: black ;font-style:italic'}})
									}}

			{{ form_widget(form.repSerie)}}
		</div>
		{{form_end(form)}}
	</div>

{% endblock %}
