{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('material') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('material') }}
{% endblock %}
{% block title %}
	AddMaterial
{% endblock %}
{% block body %}
	<nav class="navbar navbar-expand-xl" style="padding:10px;font-size:20px;border:solid 1px grey;border-right:0px;border-top:0px;border-left:0px;background-color:#ced3ff;min-height:130px;">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav align-items-xl-center">
					<li class="nav-item home" style="display:none;">
						<a class="nav-link" href="{{ path('app_gym',{userName:userName}) }}" style="color:black;font-weight:bold;">Home</a>
					</li>
					<li class="nav-item rutinaActual">
						<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:black;font-weight:bold;">Rutina actual</a>
					</li>
					<li class="nav-item visualizarRutinas">
						<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:black;font-weight:bold;">Visualizar Rutinas</a>
					</li>
					<li class="nav-item logoCentral">
						<a class="nav-link text-xl-start text-sm-center linkLogo" href="{{ path('app_gym',{userName:userName}) }}"><img class="imagenLogo" src="/img/logoFinal.png"></img></a>
					</li>
					<li class="nav-item cerrarSesion">
						<a class="nav-link" href="{{ path('logout') }}" style="color:black;font-weight:bold;">Cerrar sesión</a>
					</li>
					<li class="nav-item options">
						<div class=" pt-2">
							<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px" hidden>⚙️</button>
							<select onchange="window.location.href=this.value;" class="opciones" style="border:solid 1px black;visibility:hidden;" >
								<option>Seleccione...</option>
								<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Actualizar usuarios</option>
								<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Borrar usuarios</option>
								<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nuevo ejercicio</option>
								<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nueva máquina</option>
							</select>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<h1>Administrar material</h1>
	{% for msg in app.flashes('incorrect') %}
		<div class="error">
			<p style="color:red;font-weight:bold;text-align:center;margin-top:1.5%;">{{msg}}</p>
		</div>
	{% endfor %}
	{% for msg in app.flashes('correct') %}
		<div class="correct">
			<p style="color:green;font-weight:bold;text-align:center;margin-top:1.5%;">{{msg}}</p>
		</div>
	{% endfor %}

	<div class="container">
		<div class="row justify-content-center" style="margin-top:50px">
			<div class=".formulario col-md-6 col-12" style="border-radius: 5px; padding: 15px; margin: 10px; background-color: #f8f9fa; width: 300px; max-width: 100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
				<h2 style="color: black; font-size: 24px; margin-bottom: 20px; font-weight: bold;">Añadir ejercicio</h2>
				{{form_start(form1)}}
				<div>
					{{ form_label(form1.nombreEjercicio, 'Introduce el nombre') }}
					{{ form_widget(form1.nombreEjercicio, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form1.descripcion, 'Introduce la descripción',) }}
					{{ form_widget(form1.descripcion, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form1.grupoMuscular, 'Introduzca el grupo muscular') }}
					{{ form_widget(form1.grupoMuscular, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form1.maquina, 'Introduzca la máquina') }}
					{{ form_widget(form1.maquina, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				{{form_end(form1)}}
			</div>

			<div class=".formulario col-md-6 col-12" style="border-radius: 5px; padding: 15px; margin: 10px; background-color: #f8f9fa; width: 300px; max-width: 100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
				<h2 style="color: black; font-size: 24px; margin-bottom: 20px; font-weight: bold;">Añadir máquina</h2>
				{{form_start(form2)}}
				<div>
					{{ form_label(form2.nombre, 'Introduce el nombre') }}
					{{ form_widget(form2.nombre, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form2.marca, 'Introduce la marca') }}
					{{ form_widget(form2.marca, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form2.imagen, 'Introduzca la imagen') }}
					{{ form_widget(form2.imagen, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				{{form_end(form2)}}
			</div>
		</div>
	</div>

	<div class="footer" style="position:fixed;bottom:0;width:100%;margin-top:20px;">
		<div class="row">
			<div class="row pt-2 pb-2 justify-content-center">
				<div class="col-3 text-center">
					<a href=""><img src="/img/instagram.png" class="col-3" style="max-width:50px"></a>
				</div>
				<div class="col-3 text-center">
				</div>
				<div class="col-3 text-center">
					<a href="https://x.com/gymWorkoutSpain"><img src="/img/twitter.png" class="col-3" style="max-width:50px"></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
