{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('material') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('material') }}
{% endblock %}
{% block title %}
	AddMaterial
{% endblock %}
{% block body %}
	<nav class="nav" style="padding:10px;font-size:20px;border:solid 1px grey;border-right:0px;border-top:0px;border-left:0px;background-color:#6a6969;">
		<a class="nav-link active" aria-current="page">
		<img src="/img/logo.png" style="max-width:40px;position:relative;bottom:20%;"></a>
		<a class="nav-link active" aria-current="page" href="{{ path('app_gym',{userName:userName}) }}" style="color:yellow">Home</a>
		<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:yellow">Rutina actual</a>
		<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:yellow">Visualizar Rutinas</a>
		<a class="nav-link" href="{{ path('logout') }}" style="color:yellow">Cerrar sesión</a>
		<div class=" pt-2">
			<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px">⚙️</button>
			<select onchange="window.location.href=this.value;" class="opciones" style="border:0px" hidden="false">
				<option>Seleccione...</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Actualizar usuarios</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Borrar usuarios</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nuevo ejercicio</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nueva máquina</option>
			</select>
		</div>
	</nav>
	<div class="container">
		<div class="row justify-content-center" style="margin-top:10%">
			<div class=".formulario col-md-6 col-12" style="border: solid 2px #00008B; border-radius: 5px; padding: 15px; margin: 10px; background-color: #f8f9fa; width: 300px; max-width: 100%;">
				<h2 style="color: #00008B; font-size: 24px; margin-bottom: 20px; font-weight: bold;">Añadir ejercicio</h2>
				{{form_start(form1)}}
				<div>
					{{ form_label(form1.nombreEjercicio, 'Introduce el nombre') }}
					{{ form_widget(form1.nombreEjercicio, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form1.descripcion, 'Introduce la descripción',) }}
					{{ form_widget(form1.descripcion, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form1.grupoMuscular, 'Introduzca el grupo muscular') }}
					{{ form_widget(form1.grupoMuscular, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form1.maquina, 'Introduzca la máquina') }}
					{{ form_widget(form1.maquina, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				{{form_end(form1)}}
			</div>

			<div class=".formulario col-md-6 col-12" style="border: solid 2px #00008B; border-radius: 5px; padding: 15px; margin: 10px; background-color: #f8f9fa; width: 300px; max-width: 100%;">
				<h2 style="color: #00008B; font-size: 24px; margin-bottom: 20px; font-weight: bold;">Añadir máquina</h2>
				{{form_start(form2)}}
				<div>
					{{ form_label(form2.nombre, 'Introduce el nombre') }}
					{{ form_widget(form2.nombre, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form2.marca, 'Introduce la marca') }}
					{{ form_widget(form2.marca, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				<div>
					{{ form_label(form2.imagen, 'Introduzca la imagen') }}
					{{ form_widget(form2.imagen, {'attr': {'style': 'width: calc(100% - 22px); padding: 8px; border-radius: 5px; border: 1px solid #ccc;'}})}}
				</div>
				{{form_end(form2)}}
			</div>
		</div>
	</div>

	<div class="footer" style="position:fixed;bottom:0;width:100%;">
		<div class="row">
			<div class="row pt-2 pb-2 justify-content-center">
				<div class="col-3 text-center">
					<img src="/img/instagram.png" class="col-3" style="max-width:50px">
				</div>
				<div class="col-3 text-center">
					<img src="/img/logo.png" class="col-3" style="max-width:50px">
				</div>
				<div class="col-3 text-center">
					<img src="/img/twitter.png" class="col-3" style="max-width:50px">
				</div>
			</div>
			<div class="row justify-content-center" style="border-top:1px solid black">
				<span class="col-md-6 col-12 text-light text-center">Política de privacidad</span>
				<span class="col-md-6 col-12 text-light text-center">Protección de datos</span>
			</div>
		</div>
	</div>
{% endblock %}
