{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('ejercicios') }}
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('ejercicios') }}
{% endblock %}
{% block title %}
	Ejercicios
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-xl" style="padding:10px;font-size:20px;border:solid 1px grey;border-right:0px;border-top:0px;border-left:0px;background-color:#ced3ff;min-height:130px;">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav align-items-xl-center">
					<li class="nav-item home" style="display:none;">
						<a class="nav-link" href="{{ path('app_gym',{userName:userName}) }}" style="color:black;font-weight:bold;">Home</a>
					</li>
					<li class="nav-item rutinaActual">
						<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:black;font-weight:bold;">Rutina actual</a>
					</li>
					<li class="nav-item visualizarRutinas">
						<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:black;font-weight:bold;">Visualizar Rutinas</a>
					</li>
					<li class="nav-item logoCentral">
						<a class="nav-link text-xl-start text-sm-center linkLogo" href="{{ path('app_gym',{userName:userName}) }}"><img class="imagenLogo" src="/img/logoFinal.png"></img></a>
					</li>
					<li class="nav-item cerrarSesion">
						<a class="nav-link" href="{{ path('logout') }}" style="color:black;font-weight:bold;">Cerrar sesión</a>
					</li>
					<li class="nav-item options">
						<div class=" pt-2">
							<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px" hidden>⚙️</button>
							<select onchange="window.location.href=this.value;" class="opciones" style="border:solid 1px black;visibility:hidden;" >
								<option>Seleccione...</option>
								<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Actualizar usuarios</option>
								<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Borrar usuarios</option>
								<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nuevo ejercicio</option>
								<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nueva máquina</option>
							</select>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<h1 style="color:black;text-align:center;margin-top:20px;margin-bottom:10px;">Seleccionar Ejercicio</h1>

	<!--Barra filtrado ejercicios-->
	<nav class="text-center pt-4 pb-4">
		<input type="text" placeholder="Buscar ejercicio" class="buscar " style="border-radius:5px;border:solid 1px black">
	</nav>


	<!--No tocar js-->
	<div class="container">
		<div class="ejercicios row justify-content-center">
			{% for ejercicio in ejercicios %}
				<div class="ejercicio col-lg-3 col-md-5 col-12 card">
					<a class="enlace" href="{{ path('addEjercicioRutina',{nombre:ejercicio.nombreEjercicio,userName:userName}) }}">{{ejercicio.nombreEjercicio}}:</a>
					<span style="color:black">{{ejercicio.descripcion}}</span>
					<span><img src="/img/{{ejercicio.maquina.imagen}}" class="col-12" alt="img" style="border-radius:5px;margin-top:10px;"></span>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="footer" style="position:fixed;bottom:0;width:100%;margin-top:20px;">
		<div class="row">
			<div class="row pt-2 pb-2 justify-content-center">
				<div class="col-3 text-center">
					<a href=""><img src="/img/instagram.png" class="col-3" style="max-width:50px"></a>
				</div>
				<div class="col-3 text-center">
				</div>
				<div class="col-3 text-center">
					<a href="https://x.com/gymWorkoutSpain"><img src="/img/twitter.png" class="col-3" style="max-width:50px"></a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
