{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('index') }}
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('index') }}
{% endblock %}
{% block title %}
	Grupos Musculares
{% endblock %}

{% block body %}
	<style>
		.contenedora {
			background-image: url('/img/fondoOscuro.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	<div class="contenedora">
		<nav class="navbar navbar-expand-xl" style="padding:10px;font-size:20px;background-color:transparent;min-height:130px;">
			<div class="container-fluid">
				<button style="border-color:white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav align-items-xl-center">
						<li class="nav-item logoCentral">
							<a class="nav-link text-xl-start text-sm-center linkLogo" href="{{ path('app_gym',{userName:userName}) }}"><img class="imagenLogo" src="/img/gymLogo.jpg"></img>
						</li>
					</a>
				</li>
				<li class="nav-item home" style="display:none;">
					<a class="nav-link" href="{{ path('app_gym',{userName:userName}) }}" style="color:white;font-weight:bold;">Home</a>
				</li>
				<li class="nav-item rutinaActual">
					<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:white;font-weight:bold;">Rutina actual</a>
				</li>
				<li class="nav-item visualizarRutinas">
					<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:white;font-weight:bold;">Visualizar Rutinas</a>
				</li>
				<li class="nav-item cerrarSesion">
					<a class="nav-link" href="{{ path('logout') }}" style="color:white;font-weight:bold;">Cerrar sesión</a>
				</li>
				<li class="nav-item options">
					<div class=" pt-2">
						<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px" hidden>⚙️</button>
						<select onchange="window.location.href=this.value;" class="opciones" style="border:solid 1px black;visibility:hidden;">
							<option>Seleccione...</option>
							<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Actualizar usuarios</option>
							<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Borrar usuarios</option>
							<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nuevo ejercicio</option>
							<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nueva máquina</option>
						</select>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<h1 class="text-center">Grupos Musculares</h1>
	<div class="musculos row g-5">
		{% for grupo in grupos %}
			<div class="col-lg-3 col-6">
				<a href="{{ path('seleccionarEjercicio',{nombre:grupo.nombre,userName:userName}) }}"><img src="/img/{{grupo.imagen}}" class="col-12 imgEj"></a>
			</div>
		{% endfor %}
	</div>
</div>

<div class="footer">
	<div class="row">
		<div class="row pt-2 pb-2 justify-content-center">
			<div class="col-3 text-center">
				<a href=""><img src="/img/instagramF.png" class="col-3" style="max-width:50px;min-width:40px;"></a>
			</div>
			<div class="col-3 text-center"></div>
			<div class="col-3 text-center">
				<a href="https://x.com/gymWorkoutSpain"><img src="/img/twitterF.png" class="col-3" style="max-width:50px;min-width:40px;"></a>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
