{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('rutinaActual') }}
{% endblock %}
{% block title %}
	Rutina Actual
{% endblock %}

{% block body %}
	<nav class="nav">
		<a class="nav-link active" aria-current="page" href="{{ path('app_gym',{userName:userName}) }}" style="color:yellow">Home</a>
		<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:yellow">Rutina actual</a>
		<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:yellow">Visualizar Rutinas</a>
		<a class="nav-link" href="{{ path('logout') }}" style="color:yellow">Cerrar sesión</a>
		<div class=" pt-2">
			<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px">⚙️</button>
			<select onchange="window.location.href=this.value;" hidden class="opciones" style="border:0px">
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Añadir nuevo administrador</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Borrar usuarios</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Actualizar usuarios</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}" >Añadir nuevo ejercicio</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}" >Añadir nueva máquina</option>
			</select>
		</div>
	</nav>
	<h1>Rutina Actual:
		{{ fecha|date("d/m/Y") }}</h1>
	{% for ej in ejercicios %}
		<div>
			<p>{{ej.ejercicio.nombreEjercicio}}</p>
			<p>{{ej.peso}}</p>
			<p>{{ej.series}}</p>
			<p>{{ej.repeticionesPorSerie}}</p>
		</div>
	{% endfor %}
	<button class="finalizarRutina">Finalizar Rutina</button>
{% endblock %}
