{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('rutinaActual') }}
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('rutinaActual') }}
{% endblock %}
{% block title %}
	Rutina Actual
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-md" style="padding:10px;font-size:20px;border:solid 1px grey;border-right:0px;border-top:0px;border-left:0px;background-color:#CEE5F2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/img/logo.png" style="max-width:40px;position:relative;bottom:20%;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_gym',{userName:userName}) }}" style="color:black">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:black">Rutina actual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:black">Visualizar Rutinas</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{{ path('logout') }}" style="color:black">Cerrar sesión</a>
        </li>
		<li class="nav-item">
          <div class=" pt-2">
			<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px" hidden>⚙️</button>
			<select onchange="window.location.href=this.value;" class="opciones" style="border:solid 1px black;" hidden>
				<option>Seleccione...</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Actualizar usuarios</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}">Borrar usuarios</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nuevo ejercicio</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}">Añadir nueva máquina</option>
			</select>
		</div>
        </li>
      </ul>
    </div>
  </div>
</nav>

	<h1>Rutina Actual:{{ fecha|date("d/m/Y") }}</h1>
	<div class="container">
		<div class="row">
			{% for ej in ejercicios %}
				<div class="col-md-5 col-12 card">
					<div class="row">
						<div class="col-6">
							<h3>{{ ej.ejercicio.nombreEjercicio }}</h3>
							<p>
								<span style="font-weight:bold">Peso:
								</span>
								{{ ej.peso }}</p>
							<p>
								<span style="font-weight:bold">Series:
								</span>
								{{ ej.series }}</p>
							<p>
								<span style="font-weight:bold">Repeticiones por serie:
								</span>
								{{ ej.repeticionesPorSerie }}</p>
						</div>
						<div class="col-6">
							<img src="/img/{{ ej.ejercicio.maquina.imagen }}" class="col-12">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<p class="text-center">
			<button class="finalizarRutina" data-url="{{ path('visualizarRutinas', {'userName': userName}) }}">Finalizar Rutina</button>
		</p>
	</div>

	<div class="footer" style="position:fixed;bottom:0;width:100%;">
			<div class="row">
				<div class="row pt-2 pb-2 justify-content-center">
					<div class="col-3 text-center">
						<img src="/img/instagram.png" class="col-3" style="max-width:50px">
					</div>
					<div class="col-3 text-center">
						<img src="/img/logo.png" class="col-3" style="max-width:50px">
					</div>
					<div class="col-3 text-center">
						<img src="/img/twitter.png" class="col-3" style="max-width:50px">
					</div>
				</div>
				<div class="row justify-content-center" style="border-top:1px solid black">
					<span class="col-md-6 col-12 text-dark text-center">Política de privacidad</span>
					<span class="col-md-6 col-12 text-dark text-center">Protección de datos</span>
				</div>
			</div>
		</div>
{% endblock %}
