{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('rutinaActual') }}
{% endblock %}
{% block title %}
	Visualizar Rutinas
{% endblock %}

{% block body %}
	<nav class="nav">
		<a class="nav-link active" aria-current="page" href="{{ path('app_gym',{userName:userName}) }}" style="color:yellow">Home</a>
		<a class="nav-link" href="{{ path('mostrarRutinaActual',{userName:userName}) }}" style="color:yellow">Rutina actual</a>
		<a class="nav-link" href="{{ path('visualizarRutinas',{userName:userName}) }}" style="color:yellow">Visualizar Rutinas</a>
		<a class="nav-link" href="{{ path('logout') }}" style="color:yellow">Cerrar sesión</a>
		<div class=" pt-2">
			<button class="config" id="{{ isAdmin ? 'admin' : 'not_admin' }}" style="background-color:transparent;border:0px">⚙️</button>
			<select onchange="window.location.href=this.value;" hidden class="opciones" style="border:0px">
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Añadir nuevo administrador</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Borrar usuarios</option>
				<option value="{{ path('administrarUsuarios',{userName:userName}) }}" >Actualizar usuarios</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}" >Añadir nuevo ejercicio</option>
				<option value="{{ path('administrarMaterial',{userName:userName}) }}" >Añadir nueva máquina</option>
			</select>
		</div>
	</nav>
		<h1>Rutinas:</h1>
		{% set num = 0 %}

		{% for d in detallesRutina %}
			<h1>{{rutinas[num].fechaCreacion|date("d/m/Y")}}</h1>
			{% for d2 in d %}
				<p><b>{{d2.ejercicio.nombreEjercicio}}</b></p>
				<p>{{d2.ejercicio.descripcion}}</p>
				<p>{{d2.ejercicio.maquina.nombre}}</p>
				<p>{{d2.ejercicio.grupoMuscular.nombre}}</p>
				<p>{{d2.peso}}</p>
				<p>{{d2.series}}</p>
				<p>{{d2.repeticionesPorSerie}}</p>
			{% endfor %}
			{% set num = num+1 %}
		{% endfor %}
{% endblock %}
